{
    "root": true,
    "extends": [
        "@leight/eslint"
    ],
    "overrides": [
        {
            "files": [
                "src/**/*"
            ],
            "settings": {
                "disable/plugins": [
                    "react"
                ]
            }
        }
    ]
}
